body,
.navLinks {
  background-color: #fff;
}
ul {
  padding-inline-start: 0;
  list-style: none;
}
.myHeader {
  padding: 0;
  background-color: #006699;
}
.myHeader h1 {
  color: #fff;
}
.myHeader .mui-icon-search {
  color: #fff;
}
.myFooter {
  background-color: #006699;
}
.myFooter .mui-tab-item {
  color: #fff;
}
.myFooter .mui-tab-item.mui-active {
  color: darkorange;
}
.navLinks {
  padding: 10px;
  overflow: hidden;
}
.navLinks a {
  width: 33.33%;
  float: left;
}
.navLinks a img {
  width: 100%;
  display: block;
}
.brand {
  padding: 10px;
}
.brand img {
  width: 100%;
}
.brand ul {
  list-style: none;
  overflow: hidden;
}
.brand ul li {
  width: 25%;
  float: left;
}
.sports {
  margin: 10px 0;
  margin-bottom: 55px;
}
.sports img {
  width: 100%;
}
.sports ul {
  overflow: hidden;
  padding: 0 10px;
}
.sports ul li {
  width: 50%;
  float: left;
  padding: 5px;
  text-align: center;
}
.sports ul li .shoes {
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.sports ul li .shoes img {
  width: 100%;
}
.sports ul li .shoes .adidas {
  display: block;
  font-size: 14px;
  color: #666;
  padding: 0 5px;
}
.sports ul li .shoes p span:first-child {
  color: red;
  margin-right: 6px;
}
.sports ul li .shoes p span:last-child {
  color: #c8d2e1;
  margin-left: 6px;
  text-decoration: line-through;
}
.sports ul li .shoes button {
  width: 90px;
  height: 30px;
  background-color: #006699;
  line-height: 18px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 15px;
}
